.custom-bullet li {
  display: block;
  margin-top: 10px;
}

.custom-bullet li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e013";
  font-family: "Glyphicons Halflings";
  font-size: 10px;
  float: left;
  margin: 4px;
  margin-left: -17px;
  color: #4441bb;
}
