.custom-bullet li {
  display: block;
  margin-top: 10px;
}

.custom-bullet li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e013";
  font-family: "Glyphicons Halflings";
  font-size: 10px;
  float: left;
  margin: 4px;
  margin-left: -17px;
  color: #4441bb;
}

ul.tasks {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.tasks li {
  margin: 3px;
}
ul.tasks li div.polaroid img {
  width: 100%;
  height: 160px;
}
ul.tasks li div.polaroid {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
ul.tasks li a {
  text-decoration: none;
}

ul.tasks li div.img-name {
  /* background-color: rgb(231, 236, 246); */
  text-align: center;
  padding: 5px 5px;
  font-size: larger;
  font-weight: bolder;
}
ul.tasks li div.img-name:hover {
  background-color: aliceblue;
}
ul.tasks li span.react-icon {
  background: url(/images/react-js-icon.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}

ul.tasks li span.js-icon {
  background: url(/images/javascript-icon.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}

ul.tasks li span.ts-icon {
  background: url(/images/typescript-icon.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
ul.tasks li span.jq-icon {
  background: url(/images/jquery-icon.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
ul.tasks li span.bs-icon {
  background: url(/images/bootstrap-icon.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}

ul.tasks li span.tw-icon {
  background: url(/images/tailwind-icon.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
